body {
  background-color: darkgreen;
  background-image: url("./assets/argyle.png");
  background-repeat: repeat;
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

h1 {
  color: white;
  font-size: 3rem;
  justify-self: center;
}

.game {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 40rem;
  width: 90rem;
  margin: 0 auto;
  border-radius: 18px;
  border: 5px solid rgb(255, 255, 255);
  background-color: green;
}

nav {
  justify-self: center;
  align-self: center;
  margin: 0;
}

nav button {
  font-size: 2rem;
  color: white;
  margin: -30px 2rem;
  padding: 2rem;
  border-radius: 18px;
  border: 3px solid white;
  background-color: darkgreen;
  cursor: pointer;
}

nav button:hover {
  background-color: greenyellow;
  color: green;
}

#imgPlayer {
  position: relative;
  margin: auto;
  margin-left: 5rem;
  height: 500px;
  width: 500px;
  background-color: aliceblue;
  overflow: hidden;
}

#botPlayer {
  position: relative;
  margin: auto;
  margin-right: 5rem;
  height: 500px;
  width: 500px;
  background-color: greenyellow;
  overflow: hidden;
}

#imgPlayer img {
  width: 100%;
  height: 100%;
}

#botPlayer img {
  width: 100%;
  height: 100%;
}

nav {
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  padding: 5%;
}
